
<div >
    <h2>{{product.name}}</h2>
    <p class="price">Precio: ${{product.price}}</p>
    <p class="description">Descripción: {{product.description}}</p>
    <p class="description">Descripción: {{product.stock}}</p>
    <a href="/products">
        <button>Ver Productos</button>
    </a>
</div>